{% extends "base2.html" %}
{% load static %}
{% load bootstrap4 %}
{% block style %}
<style>
    .bg{
        background: url("{% static 'image/handpen.jpg' %}"); background-size: cover;padding: 50px 0px;
    }
    </style>

{% endblock %}
{% block profile %}
<div class="container bg">
    <div class="row">
        <div class="col-md-12 py-5 text-center text-light">
            <h1>ADD COURSE</h1>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto shadow shadow-lg " style="border-radius: 5%; background: linear-gradient(lightpink,gray);">
            <h1 class="text-center mt-3">Add Course</h1>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" value="Add Course" class="btn btn-success my-3 ml-3" name="" id="">
            </form>
        </div>
    </div>

</div>
{% if status %}
<script>
    alert("{{status}}");
    window.location = "mycourse"
</script>
{% endif %}
{% endblock %}