{% extends "base.html" %}
{% load static %}
{% block style %}
<style>
    .bg{
        background: url("{% static 'image/handpen.jpg' %}"); background-size: cover;
    }
    .inside{
        position: absolute;width: 70%;height: 30%;
    }
    .out{
        position: relative;margin-left: 65%;margin-top: 2.5px;
    }
    .bg1{
        background: rgba(0,0,0,0.1);
    }
    .h:hover{
        color: green;
    }
    .hover:hover{
        box-shadow: 0px 0px 20px black;padding: 20px;
    }
</style>
{% endblock %}
{% block header %}
<form action="" method="GET">
<div class="container-fluid bg">
    <div class="row text-white" style="background: rgba(0,0,0,0.5); padding: 50px 0px;">
        <div class="col-md-6 px-5">
            <p>Home &gt;&gt; Courses &gt;&gt; All Courses </p>
            {% if abcd %}
            <h1>Total ({{course|length}}) courses Found</h1>
            {% else %}
            <h1>All courses Grid ({{course|length}})</h1>
            {% endif %}
            <!-- <p>6,178 courses found</p> -->
            </div>
            <div class="col-md-6 px-5" style="padding: 50px;">
            <input type="text" name="qry" placeholder="What do you want to learn" class="form-control inside" >
            <button type="submit" class="btn btn-primary out">Search &gt;</button>
        </div>
        
        
    </div>
</div>
</form>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 my-5">
            <div>
                <select class="form-control" style="display: inline-block; width: 35%;">
                    <option>SELECT CATEGORY</option>
                    <option><a href="{% url 'single' %}"> Web Development</a></option>
                    <option><a href="{% url 'single' %}">Data science</a></option>
                    <option><a href="{% url 'single' %}">Artificial Intelligence</a></option>
                    <option><a href="{% url 'single' %}">Machine Learning</a></option>
                    <option><a href="{% url 'single' %}">Python</a></option>
                    <option><a href="{% url 'single' %}">App Development</a></option>
                </select>
                <select class="form-control" style="display: inline-block; width: 35%;">
                <option>FILTERS</option>
                <option>BEST SELLING</option>
                <option>TRENDING</option>
                <option>NEWEST</option>
                <option>TOP RATED</option>
                <option>HIGH PRICE</option>
                <option>LOW PRICE</option>
                </select>
            </div>
        </div>
        <div class="col-md-6 my-5 mx-auto">
            <div>
                <select class="form-control" style="display: inline-block; width: 35%;">
                    <option>ITEM PER PAGE</option>
                    <option>4</option>
                    <option>8</option>
                    <option>12</option>
                    <option>16</option>
                    <option>20</option>
                    <option>24</option>
                </select>
                   <div class="form-control h" style="display: inline-block; width: 20%;">
                    <i class="fas fa-th-large"></i> <i class="fas fa-bars"></i>
                    </div>
                   
            </div>
        </div>
    </div>
</div>
      <div class="container-fluid bg1">
      <div class="row">
          {% for i in course %}
        <div class="col-md-4 my-5 hover">
            <div class="card-header">
                <img src="/media/{{i.course_image}}" class="card-img" alt="" style="height: 300px;">
            </div>
            <div class="card-body" style="background: white;">
<h3 class="card-title" >
     <a href="{% url 'single' %}?cid={{i.id}}"> {{i.course_name}}</a>
    </h3>
<p class="card-text" ><i class="far fa-user"></i>{{i.instructor.first_name}} {{i.instructor.last_name}}</p>
<p><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i> 5 (4578)</p>
            </div>
            <div class="card-footer" style="background:white">
                <span class="text-danger" style="float: right;"><del> $ {{i.course_price}} </del></span>
                <span style="float: right; color: green;" class="font-weight-bold"> $ {{i.sale_price}} </span>
                <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
                <p> <i class="far fa-clock"></i> 27.5 hours</p>
                <form action="{% url 'cart' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{i.id}}" name="cid">
                    <input type="hidden" value="1" name="qty">
                    <button type="submit" class="btn btn-success btn-block text-dark" name="" id="">
                    <i class="fa fa-shopping-cart text-dark"></i>
                    Add To Cart
                    </button>
                </form>
                
            </div>
        </div>
        {% endfor %}
        <!-- <div class="col-md-4 my-5">
            <div class="card-header">
                <img src="{% static 'image/html-head.jpg' %}" class="card-img" alt="" style="height: 300px;">
            </div>
            <div class="card-body" style="background: white;">
<h3 class="card-title">Lets Design The Pages</h3>
<p class="card-text" ><i class="far fa-user"></i> Andrew Mead,John Deo</p>
<p> <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i> 5 (4578)</p>

            </div>
            <div class="card-footer" style="background: white;">
                <h2 style="color:green; float:right;">$10</h2>
                <p><i class="fas fa-headphones-alt"></i> 46 lectures</p>
                <p><i class="far fa-clock"></i> 27.5 hours</p>
                
            </div>
            </div>
            <div class="col-md-4 my-5">
                <div class="card-header">
                    <img src="{% static 'image/CSS.jfif' %}" class="card-img" alt="" style="height: 300px;">
                </div>
                <div class="card-body" style="background: white;">
<h3 class="card-title">Design The Page By Writing</h3>
<p class="card-text"> <i class="far fa-user"></i> Anthony Broks</p>
<p> <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i> 5 (4578)</p>
                </div>
                <div class="card-footer" style="background: white;">
                    <h2 style="color:green; float:right;">$375</h2>
                    <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
                    <p> <i class="far fa-clock"></i> 27.5 hours</p>
                    
                </div>
                </div>
    </div>
    <div class="row">
    <div class="col-md-4 my-5">
        <div class="card-header">
            <img src="{% static 'image/bootstarp.png' %}" class="card-img" alt="" style="height: 300px;">
        </div>
        <div class="card-body" style="background: white;">
<h3 class="card-title">Layout The Design</h3>
<p class="card-text"> <i class="far fa-user"></i> Asif vai</p>
<p> <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i> 5 (4578)</p>
        </div>
        <div class="card-footer" style="background: white;">
            <h2 style="color:green; float:right;">$180</h2>
            <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
            <p> <i class="far fa-clock"></i> 27.5 hours</p>
</div>
</div>
<div class="col-md-4 my-5">
    <div class="card-header">
        <img src="{% static 'image/Javascript.jpg' %}" class="card-img" alt="" style="height: 300px;">
    </div>
    <div class="card-body" style="background: white;">
<h3 class="card-title">Enhance HTML Pages</h3>
<p class="card-text"> <i class="far fa-user"></i> Harry Poter</p>
<p> <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning" ></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i> 5 (4578)</p>
    </div>
    <div class="card-footer" style="background:white">
        <h2 style="color:green; float:right;">$249</h2>
        <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
        <p> <i class="far fa-clock"></i> 27.5 hours</p>
</div>
</div>
<div class="col-md-4 my-5">
    <div class="card-header">
        <img src="{% static 'image/javaquery.webp' %}" class="card-img" alt="" style="height: 300px;">
    </div>
    <div class="card-body" style="background: white;">
<h3 class="card-title">A High Level Language</h3>
<p class="card-text"> <i class="far fa-user"></i> Jonathan Deo</p>
<p> <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i> 5 (4578)</p>
    </div>
    <div class="card-footer" style="background: white;">
        <h2 style="color:green; float:right;">Free</h2>
        <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
        <p> <i class="far fa-clock"></i> 27.5 hours</p>
 </div>
 </div>
 </div>
 <div class="row">
     <div class="col-md-12 text-center">
        <button  class="btn btn-outline-success"><</button> <button  class="btn btn-outline-success">1</button> <button  class="btn btn-outline-success">2</button> <button  class="btn btn-outline-success">3</button> <button  class="btn btn-outline-success">4</button> <button  class="btn btn-outline-success">...</button> <button  class="btn btn-outline-success">32</button> <button  class="btn btn-outline-success">&gt;</button>
     </div>
 </div> -->
    
 </div>
</div>
{% endblock %}