{% extends "base.html" %}
{% load static %}
{% block style2 %}

{% endblock %}
{% block header %}
{% if user.is_superuser %}
 <div class="container my-5">
     <div class="row">
         <div class="col-md-12">
             <div class="jumbotron">
                 <h1>Sorry Mr./Miss {{user.username}} You Are Not Allowed Here</h1>
             </div>
         </div>
     </div>

 </div>
{% else %}
 <div class="container-fluid py-5">
     <div class="row">
         <div class="col-md-2 ">
             <nav class="navbar navbar-dark p-5 sticky-top " style="background: black;">
                 <a href="" class="navbar-brand">My Profile
                    <div class="text-center">
                        {% if data.profile_pic %}
                      <img src="/media/{{data.profile_pic}}" style="height: 50px; width: 50px; border-radius: 50%;">
                      {% else %}
                      <img src="{% static 'image/user.png' %}" style="height: 50px; width: 50px;">
                      {% endif %}
                      </div>
                 <p>{{user.first_name}} {{user.last_name}}</p></a>
                 <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nv">
                     <span class="navbar-toggler-icon"></span>
                    </button>
                 <div class="collapse navbar-collapse" id="nv">
                 <ul class="navbar-nav">
                    <!-- <li class="navbar-item">
                        <a href="{% url 'stuprofile' %}" class="nav-link">Student profile</a>
                    </li>
                     <li class="navbar-item">
                         <a href="{% url 'wishlist' %}" class="nav-link">Wishlist</a>
                     </li>
                     <li class="navbar-item">
                        <a href="{% url 'view_profile' %}" class="nav-link">View Profile</a>
                    </li> -->
                    {% if user.is_staff %}
                    <!-- <li class="navbar-item">
                        <a href="{% url 'add_course' %}" class="nav-link">Add Course</a>
                    </li> -->
                     <li class="navbar-item">
                        <a href="{% url 'instpro' %}" class="nav-link"><i class="fas fa-user-tie text-white"></i>Instructor Profile</a>
                    </li>
                    <!-- <li class="navbar-item">
                        <a href="{% url 'courses' %}" class="nav-link">Instructor's Course</a>
                    </li> -->
                    <li class="navbar-item">
                        <a href="{% url 'add_course' %}" class="nav-link"><i class="fas fa-plus-circle text-white"></i> Add Course</a>
                    </li>
                    <li class="navbar-item">
                        <a href="{% url 'mycourse' %}" class="nav-link"><i class="fas fa-book text-white"></i> My Course</a>
                    </li>
                    <li class="navbar-item">
                        <a href="{% url 'my_student' %}" class="nav-link"><i class="fas fa-user text-white"></i> My Student</a>
                    </li>
                    <li class="navbar-item">
                        <a href="{% url 'sendemail' %}" class="nav-link"><i class="far fa-envelope text-white"></i> Send Email</a>
                    </li>
                   
                    {% else %}
                    <li class="navbar-item">
                        <a href="{% url 'stuprofile' %}" class="nav-link"><i class="fas fa-user text-white"></i>Student profile</a>
                    </li>
                     <li class="navbar-item">
                         <a href="{% url 'wishlist' %}" class="nav-link"><i class="fas fa-heart text-white"></i> Wishlist</a>
                     </li>
                     <li class="navbar-item">
                         <a href="{% url 'order_history' %}" class="nav-link"><i class="fas fa-folder-plus text-white"></i>Order_history</a>
                     </li> 
                    <li class="navbar-item">
                        <a href="{% url 'cart' %}" class="nav-link"> <i class="fa fa-shopping-cart text-white"></i> My Cart</a>
                    </li>
                    
                    {% endif %}
                    <!-- <li class="navbar-item">
                        <a href="{% url 'cart' %}" class="nav-link"> <i class="fa fa-shopping-cart text-white"></i> My Cart</a>
                    </li>
                    <li class="navbar-item">
                        <a href="{% url 'order_history' %}" class="nav-link"><i class="fas fa-folder-plus text-white"></i>Order_history</a>
                    </li> -->
                    <li class="navbar-item">
                        <a href="{% url 'view_profile' %}" class="nav-link"><i class="fas fa-folder-plus text-white"></i> View Profile</a>
                    </li>
                    <li class="navbar-item">
                        <a href="{% url 'edit_profile' %}" class="nav-link"><i class="fas fa-user-edit text-white"></i> Edit Profile</a>
                    </li>
                    <li class="navbar-item">
                        <a href="{% url 'reset' %}" class="nav-link"><i class="fas fa-lock text-white"></i> Reset Password</a>
                    </li>
                 </ul>
                </div>
             </nav>
         </div>

         <div class="col-md-10">
           {% block profile %}
            
           {% endblock%}
         </div>
     </div>

 </div>
 {% endif %}


 {% endblock %}  