<!DOCTYPE html>
{% load static %}
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font/css/all.min.css' %}">
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
 
<head>
 <style>
        body{
            padding: 0px;
            margin: 0px;
        }
      .header{
          text-align: center;
          line-height: 50px;
          color:white;
      }
      a{
          color:gray;   
      }
      a:hover{
        text-decoration: none;
        color:green;
      }
      /* #nav{
          position:sticky;
          top:0%;
         } */
    /* .fixed-footer{
        width:100%; 
        bottom:100px;
      Position:fixed;
    } */
         h5{
            border-bottom:3px solid #4caf50;width: 100px;
             margin-bottom: 50px;
             padding:  20px 0; color:white;
             }
       
     .foot{
         background-color: rgba(0, 0, 0, 1);
            color:white;
            height:100px;
            Width:100%;
            line-height:100px;
        }
        .in{
            padding:15px;border-radius: 5px;border:none;
            position:absolute;width:80%;
        }
        .z{
            position:relative; background-color: #4caf50;
            border-radius: 0 5px 5px 0;padding: 15px;
            color:white; border:none; float:right;
           
        } 
       .icon i{
            padding:10px;
            /* background-color:darkgray; */
            border-radius: 50%; color:white;
        }
        .icon i:hover{
            background-color:#4caf50;
        }
        i{
            padding:5px; font-size:20px ;
            color:darkgray
        }
         
        .page{ word-spacing: 10px;
        }  
        .lout:hover{
               color: black;
          } 
        /* .fs{
            position:sticky;  
         position:fixed;width: 100%;     
        }    */
        
    </style>
{% block style %}

{% endblock %}
</head>
<body>
   <div class="container-fluid">
       <div class="row header bg-dark">
       <div class="col-sm-5">
       <nav>
        <i class="far fa-envelope text-white" ></i>
           <a href="" style="color: white;">support@pioneerpython.com</a>
           <i class="fas fa-headphones text-white" ></i>
           <a href="" style="color: white;">+8356896453475</a>
       </nav>
       </div>
        <div class="col-sm-3 C"  >
           <i class="fab fa-facebook-f text-white"></i>
           <i class="fab fa-vimeo-v text-white"></i>
           <i class="fab fa-linkedin-in text-white" ></i>
           <i class="fab fa-pinterest text-white" ></i>
                                       
       </div>
        <div class="col-sm-4 page mb-1">
            {% if user.is_authenticated %}
            <a href="{% url 'instpro' %}" class="text-white">Welcome {{user.username}}</a>
            <a href="{% url 'user_logout' %}" class="btn btn-outline-light"><i class="fas fa-sign-out-alt lout"></i>Logout</a>
            {% else %}
           <a href="{% url 'log_in' %}" class="btn btn-outline-light"><i class="fas fa-power-off lout"></i>Login</a>
           <a href="{% url 'registration' %}" class="btn btn-outline-light"> <i class="fas fa-folder-plus lout"></i>Register</a>
        {% endif %}
           <!-- <a href="{% url 'user_logout' %}" class="btn btn-outline-light" >Logout</a> -->
    </div>
   </div>
</div>
   <div class="container-fluid shadow "> 
    <div class="row fs " id="nav">
        <div class="col-md-12 px-0 " >
           <nav class="navbar navbar-expand-md navbar-white bg-white">
    <a href="#" class="navbar-brand">
       <img src="{% static 'image/1.jpg' %}" style="background: rgba(255, 255, 255, 0.9);">
    </a>
    <button type="button" class="navbar-toggler bg-success" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon bg-white"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mx-auto ">
            <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'About' %}" class="nav-item nav-link active">About</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'cont' %}" class="nav-item nav-link active">Contact Us</a>
            </li>
            <li class="nav-item">    
                <a href="{% url 'allcourses' %}" class="nav-item nav-link active">All Courses</a>
            </li>      
                <!-- <a href="{% url 'single' %}" class="nav-item nav-link active">Single Course</a> -->
                <!-- <a href="{% url 'instpro' %}" class="nav-item nav-link active">Instructor Profile</a> -->
                <!-- <a href="{% url 'courses' %}" class="nav-item nav-link active">Instructor's Courses</a> -->
                <!-- <a href="{% url 'stuprofile' %}" class="nav-item nav-link active">Student Profile</a> -->
                <!-- <a href="{% url 'edit_profile' %}" class="nav-item nav-link active">Edit Profile</a> -->
                <!-- <a href="{% url 'reset' %}" class="nav-item nav-link active">Reset Password</a> -->
            <li class="nav-item">      
                <a href="{% url 'cart' %}"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
                <a href="search.html"><i class="fa fa-search" aria-hidden="true"></i></a>
            </li>
        </ul>
        
    </div>
</nav>
   </div>
    </div>
   </div> 
 {% block header %}

 {% endblock %}
<div class="container-fluid text-muted fixed-footer" style="background:rgba(0, 0, 0, 0.9);margin-top: 150px;">
     <div class="row p-5">
         <div class="col-md-3">
             <h5 style="width: 150px;"><em>Pioneer Python</em></h5>
             <p class="text-justify" style="color: white;">The pain you feel today is the stregth you will feel tomorrow.
            For every challenge encountered there is opportunity for growth.</p>
                <div class="icon" >
                  <i class="fab fa-facebook-f"></i>
                  <i class="fab fa-vimeo-v"></i>
                  <i class="fab fa-linkedin-in"></i>
                  <i class="fab fa-pinterest"></i>                           
        
                </div>  
                </div>
           <div class="col-md-3">
               <h5><em>Contact Us</em></h5>
                  <a href="" style="color: white;"><i class="fas fa-headphones" style="color: white;"></i>800 579.987.579 </a><br/>
                   <a href="" style="color: white;"><i class="far fa-envelope" style="color: white;"></i>support@pioneerpython.com</a >
                     <p style="color: white;"><i class="fas fa-map-marker-alt"style="color: white;" ></i>184 Main Collins Street<br/>Chicago,United States</p>                        
           </div>
             <div class="col-md-3">
                 <h5><em>Quick links</em></h5>
                 <p><a href="" style="color: white;">Home</a></p>
                 <p><a href="" style="color: white;">About </a></p>
                 <p><a href="" style="color: white;">Contact Us</a></p>
                 <p><a href="" style="color: white;">All Courses</a></p>
                 <p><a href="" style="color: white;">Single Course</a></p>
             </div>
               <div class="col-md-3">
                    <h5><em>Newslatter</em></h5>
                    <p style="color: white;">Subscribe to get update and information.<br/>Don't worry, we won't send spam!</p>
                  <form>
                    <input type="text" placeholder="Enter your email" class="in">
                    <button class="z">Subscribe</button>
                </form> 
                </div>
               </div>
            </div>
        </div>
        <div class="container-fluid foot">
            <div class="col-md-12 align-center">
                <div class="footer text-center">& copyright 2020 .All rights reserved</div>
            </div>
        </div>
               
 
</body>
</html>
</body>

</html>