{% extends "base.html" %}
{% load static %}
{% block style %}
<style>
    .bg{
        background-image: url("/static/image/handpen.jpg"); background-size: cover;
    }
    .cart td{
        width: 20%;
    }
</style>
{% endblock %}
{% block header %}
{% if not user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
          <h1 class="jumbotron m-3 text-center text-danger"> {{status}}</h1>
        </div>
    </div>
</div>
{% else %}
{% if user.is_superuser %}
  <div class="container">
      <div class="row">
          <div class="col-md-12">
            <h1 class="jumbotron m-3 "> You Are Not Allowed Here!!!</h1>
          </div>
      </div>
  </div>
{% else %}
<!-- <h2 >{{status}}</h2> -->
    {% if items|length == 0 %}
       <div class="container">
         <div class="row">
          <div class="col-md-12 py-5 m-5 text-center shadow bg-light">
            <h1 class="text-danger">Your Cart is Empty!!!</h1>
          </div>
         </div>
       </div>
    {% else %}
<div class="container-fluid bg">
    <div class="row text-white" style="background: rgba(0,0,0,0.5); padding: 50px 0px;">
        <div class="col-md-12 p-3 text-center">
                 <h2>My Cart ({{items|length}})</h2>
            </div>
            </div>
         </div>

    {% if user.is_authenticated %}
         <div class="container">
            <div class="row">
                <div class="col-md-8 my-5 ">
                    <!-- <div  style="box-shadow: 0px 0px 10px black;"> -->
                    {% if msz %}
                       <div class="{{cls}}">{{msz}}</div>
                    {% endif %}
                       {% for i in items %}
                              <div class="card " style="box-shadow: 0px 0px 10px gray;">
                                  <h3 id="row{{i.id}}"></h3>
                              
                              <div class="card-header">
                                <img src="/media/{{i.course.course_image}}" height="200px" width="100%">
                              </div>
                              
                              <div class="card-body">
                                  <div class="row">
                                      <table class=" table table-bordered m-4">
                                          <thead>
                                              <tr>
                                                  <th class="text-center">COURSE NAME</th>
                                                  <th class="text-center">{{i.course.course_name}}</th>
                                              </tr>
                                              <tr>
                                                <th class="text-center">COURSE PRICE</th>
                                                <th class="text-center">
                                                    $<del id="pp{{i.id}}">{{i.course.course_price}}</del> $<span id="sp{{i.id}}"> {{i.course.sale_price}}</span>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th class="text-center">QUANTITY</th>
                                                <td class="text-center">
                                                    <span class="display-inline-block"><i class="fa fa-plus text-light p-1 bg-success rounded-circle" onclick="change_quan('{{i.id}}','plus')"></i>
                                                    </span> 
                                                        <span class="display-inline-block">  <input type="number"  id="cart{{i.id}}" value="{{i.quantity}}" >
                                                        </span> 
                                                        <span class="display-inline-block"><i class="fa fa-minus text-light p-1 bg-danger rounded-circle"  onclick="change_quan('{{i.id}}','minus')"></i>
                                                         </span>
                                                </td>
                                            </tr>
                                          </thead>
                                      </table>
                                  </div> 
                              </div>
                                
                              <div class="card-footer ">
                                <button  onclick ="remove_cart('{{i.id}}')" class="btn btn-danger float-right"><i class="fas fa-trash text-white"></i> Remove</button>
                              </div>
                               
                            </div>
                            {% endfor %}
                </div>
                <div class="col-md-4 my-5" style="box-shadow: 0px 0px 10px gray;">
                       <h2 class="text-center text-primary  mt-3">CHECKOUT</h2>
                    <table class="table table-bordered  table-striped mt-3">
                        <tr>
                            <td>COURSE TOTAL</td>
                            <td id="item_total"></td>
                        </tr>
                        <tr>
                            <td>OFFER PRICE</td>
                            <td id="disc"></td>
                        </tr>
                        <tr>
                            <td>YOU SAVED</td>
                            <td id="offer"></td>
                        </tr>
                        <tr>
                            <td>DELIVERY</td>
                            <td class="badge badge-success mt-1 ml-4">Free</td>
                        </tr>
                        <tr>
                              <td>GRAND TOTAL</td>
                              <td id="grand_total"></td>
                        </tr>
                    </table>
                    <div class="mb-2">
                        <a href="{% url 'process_payment' %}" class="btn btn-success btn-block ">PROCEED TO PAY <span id="btamt"></span></a>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
         </div>
    <script>
      function grandTotal(){
          $.ajax({
              url:"{% url 'get_cart_data' %}",
              type:"get",
              success:function(data){
                p = Math.round(100-((data.offer/data.total)*100),2)
                save = data.total-data.offer;
                $("#item_total").html("&#8377;" +data.total);
                $("#disc").html("&#8377;" +data.offer);
                $("#offer").html("&#8377;" +save+ "<span class='text-success'> ("+p+"%)</span>");
                $("#grand_total").html("&#8377;" +data.offer);
                $("#btamt").html("&#8377;" +data.offer);
              }
          })
      }
      grandTotal()

      function change_quan(id,action){
          let old = $("#cart"+id).val();
          
          quan = 0
          if(action=="plus"){
              quan += parseInt(old)+1
          }else{
              quan += parseInt(old)-1
          }
        //   alert(quan)
          $("#cart"+id).val(quan);

          $.ajax({
              url:"{% url 'change_quan' %}",
              type:"get",
              data:{cid:id, quantity:quan},
              success:function(data){
                 grandTotal();
                 if(data==0){
                     remove_cart(id);
                 }
                 
                //  n = $("#pp"+id).html()*quan;
                //  ns = $("#sp"+id).html()*quan;
                //  $("#pp"+id).html
                //  $("#sp"+id).html(ns)
              }
          })

      }

    function remove_cart(id){
        $.ajax({
            url:"{% url 'change_quan' %}",
            type:"get",
            data:{delete_cart:id},
            success:function(data){
                grandTotal();
                $("#row"+id).hide();
                // $("#carthide").hide();
                // alert(data);
                // alert(id);
            }
        })
      }
    </script>

       {% endif %}

{% endif %}
{% endif %}
{% endif %}

{% endblock %}