{% extends "base2.html" %}
{% load static %}
{% block style %}
<style>
    .bg{
        background: url("{% static 'image/handpen.jpg' %}"); background-size: cover;
    }
    .bg1{
        background: rgba(0,0,0,0.1);
    }
</style>
{% endblock %}
{% block profile %}
<div class="container-fluid bg">
    <div class="row text-white" style="background: rgba(0,0,0,0.5); padding: 50px 0px;">
        <div class="col-md-6 px-5">
             <h1>Instructor Profile</h1>
             <p>Home &gt;&gt; Pages &gt;&gt; User &gt;&gt; Instructor Profile</p>
            </div>
            </div>
         </div>
         <div class="container-fluid bg1 my-5">
            <div class="row">
              <div class="col-md-4 my-5">
                  <div class="card-header" style="color:black;background: white;">
                    {% if data.profile_pic %}
                    <img src="/media/{{data.profile_pic}}" style="height: 200px; width: 250px; border-radius: 50%;">
                    {% else %}
                    <img src="{% static 'image/user.png' %}" style="height: 200px; width: 250px;">
                    {% endif %}
                      <!-- <img src="{% static 'image/alex lebby.jpg' %}" class="card-img" alt="" style="border-radius:50%;"> -->
                  
                  <h3 class="card-title text-center">{{user.first_name}} {{user.last_name}}</h3>
  <p class="card-text text-center" >{{data.occupation}} </p>
    <ul class="list-inline" style="word-spacing: 20px; margin-top: 40px;">
     <li class="list-inline-item"><i style="color: green;margin-left: 35px;" class="far fa-user"></i>
      <h4>Students</h4>
      <p>147560</p></li>
       <li class="list-inline-item"><i style="color: green;margin-left: 35px;" class="fas fa-book-open"></i>
        <h4>Courses</h4>
        <p style="margin-left: 30px;">27</p></li>
           <li class="list-inline-item"><i style="color: green;margin-left: 35px;" class="far fa-star"></i>
            <h4>Reviwes</h4>
            <p>10467</p></li>
            </ul>
               </div>
                  <div class="card-body" style="background:white">
                      <p>Email Address:</p>
                      <h4>{{user.email}}</h4>
                      <p>Phone:</p>
                      <h4>{{data.contact_number}}</h4>
                      <p>Location:</p>
                      <h4>{{data.city}}</h4>
                  </div>
                  <div class="card-footer" style="background: white;">
                  <p style="font-size:20px;">Social Profile</p>
                  <div style="word-spacing: 40px;">
                      <i><a href=""class="fab fa-facebook-f" style="background: blue;color: white;padding: 15px;border-radius: 50%;"></a></i>
                  <i> <a href=""class="fab fa-twitter-square" style="background:skyblue;color: white;padding: 15px;border-radius: 50%;"></a></i>
                  <i style="background: red;color: white;padding: 15px;border-radius: 50%;" class="fab fa-google-plus"></i>
                  <i style="background: turquoise;color: white;padding: 15px;border-radius: 50%;" class="fab fa-pinterest-p"></i>
                </div>
                  </div>
              </div>
              {% for i in course %}
                  <div class="col-md-4 my-5">
                    <div class="card-header">
                        <img src="/media/{{i.course_image}}" class="card-img" alt="" style="height: 300px;">
                    </div>
                    <div class="card-body" style="background: white;">
    <h3 class="card-title"><a href="{% url 'single' %}?cid={{i.id}}"> {{i.course_name}}</a></h3>
    <p class="card-text" ><i class="far fa-user"></i> {{i.instructor.first_name}} {{i.instructor.last_name}}</p>
    <p ><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i> 5 (4578)</p>                   </div>
                    <div class="card-footer" style="background:white">
                        <span class="text-danger" style="float: right;"><del> &#8377; {{i.course_price}} </del></span>
                <span style="float: right; color: green;" class="font-weight-bold"> &#8377; {{i.sale_price}} </span>
                        <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
                        <p> <i class="far fa-clock"></i> 27.5 hours</p>
                        
                    </div>
                  </div>
                    {% endfor %}
                    <!-- <div class="card-header my-5">
                        <img src="{% static 'image/CSS.jfif' %}" class="card-img" alt="" style="height: 300px;">
                    </div>
                    <div class="card-body" style="background: white;">
    <h3 class="card-title">Design The Page By Writing</h3>
    <p class="card-text"> <i class="far fa-user"></i> Anthony Broks</p>
    <p> <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i> 5 (4578)</p>
                    </div>
                    <div class="card-footer" style="background: white;">
                        <h2 style="color:green; float:right;">$375</h2>
                        <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
                        <p> <i class="far fa-clock"></i> 27.5 hours</p>
                        
                    </div>
                  </div>
                 
                  <div class="col-md-4 my-5">
                        <div class="card-header">
                            <img src="{% static 'image/html-head.jpg' %}" class="card-img" alt="" style="height: 300px;">
                        </div>
                        <div class="card-body" style="background: white;">
        <h3 class="card-title">Lets Design The Pages</h3>
        <p class="card-text" ><i class="far fa-user"></i> Andrew Mead,John Deo</p>
        <p> <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i> 5 (4578)</p>
        
                        </div>
                        <div class="card-footer" style="background: white;">
                            <h2 style="color:green; float:right;">$10</h2>
                            <p><i class="fas fa-headphones-alt"></i> 46 lectures</p>
                            <p><i class="far fa-clock"></i> 27.5 hours</p>
                            
                        </div>
                        <div class="card-header my-5">
                            <img src="{% static 'image/bootstarp.png' %}" class="card-img" alt="" style="height: 300px;">
                        </div>
                        <div class="card-body" style="background: white;">
            <h3 class="card-title">Layout The Design</h3>
            <p class="card-text"> <i class="far fa-user"></i> Asif vai</p>
            <p> <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i> 5 (4578)</p>
                        </div>
                        <div class="card-footer" style="background: white;">
                            <h2 style="color:green; float:right;">$180</h2>
                            <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
                            <p> <i class="far fa-clock"></i> 27.5 hours</p>
                </div> -->
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12 text-center">
                              <button class="btn btn-outline-success">Load More</button>
                          </div>
                      </div>
                  </div>
{% endblock %}