{% extends "base2.html" %}
{% load static %}
{% block profile %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card shadow shadow-lg">
                <div class="card-header">
                    <h3 class="text-primary bg-light">Are you sure you want to Delete</h3>
                </div>
                <div class="card-body">
                    
                    <img src="/media/{{course.course_image}}" height="200" width="100%">
                    <h4>{{course.course_name}}</h4>

                </div>
                <div class="card-footer mt-3">
                    <a href="{% url 'delete_course' %}?cid={{course.id}}&&action=confirm" class="btn btn-success">Confirm Delete</a>
                    <a href="{% url 'mycourse' %}" class="btn btn-danger">Cancel</a>
                </div>

            </div>

        </div>
    </div>

</div>
{% if status %}
<script>
    alert("{{status}}");
    window.location = "/mycourse"
</script>

{% endif %}
{% endblock %}