{% extends "base2.html" %}
{% load static %}
{% block style %}
<style>
    .bg{
        background: url(static/image/handpen.jpg); background-size: cover;
    }
    .bg1{
        background: rgba(0,0,0,0.1);
    }
   
</style>
{% endblock %}
{% block profile %}
<div class="container-fluid bg">
  <div class="row text-white" style="background: rgba(0,0,0,0.5); padding: 50px 0px;">
      <div class="col-md-4 px-5">
          <h2>My Dashboard</h2>
          <p>Home &gt;&gt; Pages &gt;&gt;  My Dashboard</p>
         </div>
         </div>
      </div>
      <div class="container-fluid bg1 my-5">
         <div class="row">
           <div class="col-md-4 my-5">
               <div class="card-header text-center" style="color:black;background: white;">
                {% if data.profile_pic %}
        <img src="/media/{{data.profile_pic}}" style="height: 200px; width: 250px; border-radius: 50%;">
        {% else %}
        <img src="{% static 'image/user.png' %}" style="height: 200px; width: 250px;">
        {% endif %}
        
                   <!-- <img src="{% static 'image/alex lebby.jpg' %}" class="card-img" alt="" style="border-radius:50%;"> -->
               
               <h3 class="card-title text-center">{{user.first_name}} {{user.last_name}}</h3>
<p class="card-text text-center"style="font-family:bold;font-size:20px;" >{{data.occupation}}</p>
 <ul class="list-inline" style="word-spacing: 20px; margin-top: 40px;">
  <li class="list-inline-item"><i style="color: green;margin-left: 20px;" class="far fa-user"></i>
   <h4>Students</h4>
   <p>147560</p></li>
    <li class="list-inline-item"><i style="color: green;margin-left: 20px;" class="fas fa-book-open"></i>
     <h4>Courses</h4>
     <p style="margin-left: 30px;">27</p></li>
        <li class="list-inline-item"><i style="color: green;margin-left: 20px;" class="far fa-star"></i>
         <h4>Reviwes</h4>
         <p>10467</p></li>
         </ul>
            </div>
               <div class="card-body" style="background:white">
                   <small>Email Address:</small>
                   <h4>{{user.email}}</h4>
                   <small>Phone:</small>
                   <h4>{{data.contact_number}}</h4>
                   <small>Location:</small>
                   <h4>{{data.city}}</h4>
               </div>
               <div class="card-footer" style="background: white;">
               <p style="font-size:20px;">Social Profile</p>
               <div style="word-spacing: 30px;">
                 <i  style="background: blue;color: white;padding: 15px;border-radius: 50%;" class="fab fa-facebook-f "></i>
                 <i style="background: skyblue;color: white;padding: 15px;border-radius: 50%; " class="fab fa-twitter"></i>
                 <i style="background: red; color: white;padding: 15px;border-radius: 50%;" class="fab fa-google-plus"></i>
                 <i style="background: turquoise;color: white;padding: 15px;border-radius: 50%;" class="fab fa-pinterest-p"></i>
               </div>
               </div>
           </div>
      <div class="col-md-6 mt-2">
        <!-- <h4 class="mt-5">Upload Profile</h4>
        <div class="media align-items-end mt-2">
            <div style="position: relative;">
          <input type="file" style="position: absolute;opacity: 0;" name="image">
          <img src="" alt="">
            </div>
            <div class="media-body mb-4 mb-md-0">
               <p>JPG or PNG 200x200 px</p> 
               <button class="btn btn-outline-primary" style="display: inline-block;"><input type="file" style="position:absolute;opacity: 0;">Upload</button> 
            </div>
        </div><hr> -->
        <!-- <div class="text-center">
          {% if data.profile_pic %}
        <img src="/media/{{data.profile_pic}}" style="height: 150px; width: 150px; border-radius: 50%;">
        {% else %}
        <img src="{% static 'image/user.png' %}" style="height: 150px; width: 150px;">
        {% endif %}
        </div> -->
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if status %}
              <div class="alert alert-primary mt-5">{{status}}</div>

            {% endif %}
             <div class="col-md-6 my-5">
               <h2>Profile Picture</h2>
               <input type="file" name="image" class="form-control">
             </div>
             <h2>Manage Your Account</h2>
             <div class="row">
             <div class="col-md-6 my-3">
              <label>First Name</label>
              </div>
              <div class="col-md-6 my-3">
              <input type="text" placeholder="Enter Your Name" class="form-control"name="fname" value="{{user.first_name}}">
              </div>
              <div class="col-md-6 my-3">
                <label>Last Name</label>
                </div>
                <div class="col-md-6 my-3">
                <input type="text" placeholder="Enter Your Name" class="form-control"name="lname" value="{{user.last_name}}">
                </div>
              <div class="col-md-6 my-3">
              <label>Occupation</label>
              </div>
              <div class="col-md-6 my-3">
              <input type="text" placeholder="Web Developer And Instructor" class="form-control" name="occ" value="{{data.occupation}}">
              </div>
              <div class="col-md-6 my-3">
              <label>Email</label>
              </div>
              <div class="col-md-6 my-3">
              <input type="email" placeholder="Jashanpreetk78@gmail.com" class="form-control" name="email" value="{{user.email}}">
              </div>
              <div class="col-md-6 my-3">
              <label>Contact Number</label>
              </div>
              <div class="col-md-6 my-3">
              <input type="text" placeholder="+91283715727" class="form-control " name="phone" value="{{data.contact_number}}">
             </div>
             <div class="col-md-6 my-3">
              <label>City</label>
              </div>
              <div class="col-md-6 my-3">
              <input type="text" placeholder="Enter Your City" class="form-control " name="city" value="{{data.city}}">
             </div>
             <div class="col-md-6 my-3">
              <label>Age (in years)</label>
              </div>
              <div class="col-md-6 my-3">
              <input type="Number" placeholder="Enter Your Age" class="form-control" name="age" min="15" max="99" value="{{data.age}}">
             </div>
             <div class="col-md-6 my-3">
              <label>Gender</label>
              </div>
              <div class="col-md-6 my-3">
              <select name="gender" id="" class="form-control">
                <option value="Male">Male</option>
                {% if data.gender == "Female" %}
                <option value="Female" selected>Female</option>
                {% else %}
                <option value="Female">Female</option>
                {% endif %}

                {% if data.gender == "Others" %}
                <option value="Others" selected>Others</option>
                {% else %}
                <option value="Others">Others</option>
                {% endif %}
              </select>
             </div>
             </div><hr>
             <!-- <h2>Security Setting</h2>
            <div class="row">
              <div class="col-md-6 my-3">
             <label>Current Password</label>
             </div>
             <div class="col-md-6 my-3">
             <input type="Password" placeholder="********" class="form-control">
             </div>
             <div class="col-md-6 my-3">
             <label>New Password</label>
             </div>
             <div class="col-md-6 my-3">
             <input type="text" placeholder="1234567" class="form-control">
             </div>
             <div class="col-md-6 my-3">
             <label>Confirm Password</label>
             </div>
             <div class="col-md-6 my-3">
             <input type="text" placeholder="1234567" class="form-control">
             </div>
             </div><hr> -->
             <h2>Social Acoount</h2>
             <div class="row">
               <div class="col-md-6 my-3">
             <label>Facebook</label>
             </div>
             <div class="col-md-6 my-3">
             <input type="text" placeholder="https://fb.com/jaman57" class="form-control">
            </div>
            <div class="col-md-6 my-3">
             <label>Twitter</label>
             </div>
             <div class="col-md-6 my-3">
             <input type="text" placeholder="https://Twitter.com/jaman57" class="form-control">
             </div>
             <div class="col-md-6 my-3">
             <label>Linkdin</label>
             </div>
             <div class="col-md-6 my-3">
             <input type="email" placeholder="https://Linkdin.com/jaman57" class="form-control">
             </div>
             <div class="col-md-6 my-3">
             <label>Google</label>
             </div>
             <div class="col-md-6 my-3">
             <input type="text" placeholder="https://Google.com/jaman57" class="form-control">
             </div>
             </div><hr>
              <h2>About</h2>
              <div class="row my-3">
                <div class="col-md-12">
             <textarea rows="6" class="form-control" placeholder=" Write About Yourself" name="about">{{data.about}}</textarea>
             </div>
             </div>
             <!-- <h2>Account Type</h2>
             <p>
              <span class="badge badge-danger">Free</span>
            </p><hr> -->
            <div class="my-5">
              <button class="btn btn-success m-2">Update Profile</button>
              <button class="btn btn-danger m-2">Cancel</button>
            </div>
          </form>
      </div>
  </div>
</div>
{% endblock %}