{% extends "base.html" %}
{% load static %}
{% block style %}
<!-- <style>
    .spinner{
        height: 100px; width: 100px;border: 10px solid gray; border-bottom: 10px solid blue;animation: ani 1s linear infinite;
        border-radius:50%;margin:auto
    }

    @keyframes ani{
        from{transform:rotate(0deg)}
        to{transform:rotate(360deg)}
    }
</style> -->
{% endblock %}
{% block header %}
<div class="container">
    <div class="row">
        <div class="col-md-6 my-5 p-5 shadow shadow-lg mx-auto">
            <h2>Forget Your Password</h2><hr>
            <div id="result"></div>
            <form action="" method="post">
                  {% csrf_token %}
                <div class="form-group">
                    <label for="">Enter Your Username</label>
                    <input type="text" class="form-control" placeholder="Enter Username Here" name="username" id="un">
                </div> 
                <button type="button" class="btn btn-outline-warning" onclick="getpass()" id="continue">Click To Continue</button> 
                
                <div class="mt-3" style="display: none;"id="spin">
                    <span class="spinner spinner-grow"></span>
                </div>
                
                <div class="form-group" style="display: none;"  id="afterotp">
                    <label for="">Enter OTP</label>
                    <input type="number" class="form-control" placeholder="Enter OTP Here" name="" id="uotp">
                     
                    <button onclick="matchotp()" type="button" class="btn btn-outline-info mt-3">Verify OTP</button>
                </div>
             <div style="display: none;" id="changepass">
                <div class="form-group">
                    <label for="">Enter New Password</label>
                    <input type="password" name="npass" id="form-control" placeholder="Enter new password">
                </div>
                <div class="form-group">
                    <input type="submit" value="CHANGE MY PASSWORD" class="btn btn-outline-success">
                </div>
             </div>
                <input type="hidden" id="realotp"> 
            </form>
        </div>
    </div>
</div>
<script>
    function getpass(){
        $("#spin").show();
        let username=$("#un").val();
        $.ajax({
            url:"{% url 'reset_pass' %}",
            type:"get",
            data:{username:username},
            success:function(data){
                $("#spin").hide();
                if(data.status=="failed"){
                    $("#result").html("<p class='alert alert-danger'>No user registered with this username</p>")
                }
                else if(data.status=="error"){
                    $("#result").html("<p class='alert alert-danger'>Could not send email to"+data.email+" Something went wrong!!</p>")
                }
                else if(data.status=="sent"){
                    $("#result").html("<p class='alert alert-success'>An OTP sent to your registered Email ID: "+data.email+" </p>")
                    $("#continue").hide();
                    $("#afterotp").slideDown(1000);
                    $("#realotp").val(data.rotp)
                }
            }
        })
    }
    function matchotp(){
        uotp = $("#uotp").val();
        rotp = $("#realotp").val();

        if(uotp==rotp){
            $("#afterotp").hide();
            $("#changepass").fadeIn(1000);
            $("#result").html("<p class='alert alert-success'>Validation success</p>")
        }else{
            $("#result").html("<p class='alert alert-danger'>Incorrect OTP</p>")
        }
    }
                
</script>
{% if status %}
<script>
    alert("{{status}}");
    window.location="/instprofile/"
</script>
{% endif %}
{% endblock %}