{% extends "base2.html" %}
{% load static %}
{% block style %}

<style>
    .bg{
        background: url("{% static 'image/handpen.jpg' %}"); background-size: cover;
    }
    .bg1{
        background: rgba(0,0,0,0.1);
    }
    .o:hover{
        color: green;
    }
</style>
{% endblock %}
{% block profile %}
{% if user.is_staff %}
<div class="container-fluid">
    <div class="row text-white" style="background: rgba(0,0,0,0.5); padding: 50px 0px;">
        <div class="col-md-6 px-5">
             <h1>Instructor Profile</h1>
             <p class="o">Home &gt;&gt; Pages &gt;&gt; User &gt;&gt; Instructor Profile</p>
            </div>
            </div>
         </div>
         <div class="container-fluid bg1 my-5">
            <div class="row">
              <div class="col-md-4 my-5">
                  <div class="card-header" style="color:black;background: white;">
                    <div class="text-center">
                    {% if data.profile_pic %}
                    <img src="/media/{{data.profile_pic}}" style="height: 200px; width: 250px; border-radius: 50%;">
                    {% else %}
                    <img src="{% static 'image/user.png' %}" style="height: 200px; width: 250px;">
                    {% endif %}
                    </div>
                      <!-- <img src="{% static 'image/alex lebby.jpg'%} " class="card-img" alt="" style="border-radius:50%;"> -->
                  
                  <h3 class="card-title text-center">{{user.first_name}} {{user.last_name}}</h3>
  <p class="card-text text-center" >{{data.occupation}}</p>
    <ul class="list-inline" style="word-spacing: 20px; margin-top: 40px;">
     <li class="list-inline-item"><i style="color: green;margin-left: 35px;" class="far fa-user"></i>
      <h4>Students</h4>
      <p>147560</p></li>
       <li class="list-inline-item"><i style="color: green;margin-left: 35px;" class="fas fa-book-open"></i>
        <h4>Courses</h4>
        <p style="margin-left: 30px;">27</p></li>
           <li class="list-inline-item"><i style="color: green;margin-left: 35px;" class="far fa-star"></i>
            <h4>Reviwes</h4>
            <p>10467</p></li>
            </ul>
               </div>
                  <div class="card-body" style="background:white">
                      <p>Email Address:</p>
                      <h4>{{user.email}}</h4>
                      <p>Phone:</p>
                      <h4>{{data.contact_number}}</h4>
                      <p>Location:</p>
                      <h4>{{data.city}}</h4>
                  </div>
                  <div class="card-footer" style="background: white;">
                  <p style="font-size: 20px;">Social Profile</p>
                  <div style="word-spacing: 40px;">
                      <i  style="background: blue;color: white;padding: 15px;border-radius: 50%;" class="fab fa-facebook-f"></i>
                  <i style="background: skyblue;color: white;padding: 15px;border-radius: 50%;" class="fab fa-twitter-square"></i>
                  <i style="background: red; color: white;padding: 15px;border-radius: 50%;" class="fab fa-google-plus"></i>
                  <i style="background: turquoise;color: white;padding: 15px;border-radius: 50%;" class="fab fa-pinterest-p"></i>
                </div>
                  </div>
              </div>
              <div class="col-md-8 my-5" style="background: white;">
                  <p class="my-2" style="font-size: 20px;">About</p><hr>
                  <h2>Biography</h2>
                  <p style="font-size: 20px;">{{user.first_name}} {{user.last_name}}, M.Ed., has been owner of Catalyst & Co. in Portland for the past 21 years. She has built trusting relationships and facilitated creative learning programs that deliver results for more than 200 clients and thousands of employees.</p>
                  <p style="font-size: 20px;">She holds a Bachelor of Science degree in Communication from James Madison University in Virginia, a Masters of Human Resource Education from Boston University, and a Certificate in Training Design and Delivery from Bryant College. She is also a qualified Myers Briggs Type Indicator instructor, and attends ongoing educational programs to strengthen her skills and keep abreast of current research. </p><hr>
                 <h2>Experience</h2>
                 <h6 style="margin-top: 30px;">2000-2004</h6>
                 <h6 style="font-size: 20px;font-weight: bold;">Full Stack Developer</h6>
                 <h6>Apple Inc.</h6>
                 <p style="font-size: 20px;">•	Develop and maintain highly reliable and scalable web services and UIs that enable users to interact with hardware products.</p>
                    <p style="font-size: 20px;">• Create automation that works on macOS and Linux servers.</p>
                    <p style="font-size: 20px;">• Build APIs and UIs that are simple and powerful.</p>
                    <p style="font-size: 20px;">• Understand product requirements, engage with team members and customers to define solutions, and estimate the scope of work required.</p>
                    <p style="font-size: 20px;">• Collaborate with, mentor, and influence members within your team and across other teams at Apple.</p>
                    <p style="font-size: 20px;">• Deliver solutions that can keep up with a rapidly evolving product in a timely fashion.</p>
                 
                 <h6 style="margin-top: 30px;">2004-2018</h6>
                 <h6 style="font-size: 20px;font-weight: bold;">Project Manager</h6>
                 <h6>Google</h6>
                 <p style="font-size: 20px;">Experience managing projects and using project management tools.</p>
                   <p style="font-size: 20px;">Proven track record working cross-functionally in a fast-paced environment to lead and drive complex initiatives globally.</p>
                   <p style="font-size: 20px;">Strong understanding of systems, operations, internal controls, requirements. documentation, testing, validation and program management.</p>
                    <p style="font-size: 20px;">Demonstrated ability to autonomously drive and prioritize multiple initiatives</p>
                    <p style="font-size: 20px;">Demonstrated ability to manage complex escalations in a timely and efficient manner, effectively balancing risks.</p><hr>
                 <h2>Education</h2>
                 <!-- <h6 style="margin-top: 30px;">2000-2004</h6>
                 <h6 style="font-size: 20px;font-weight: bold;">Full Stack Developer</h6>
                 <h6>Apple Inc.</h6> -->
                 <p style="font-size: 20px;">These instructors advance their careers by seeking a tenured position as a college or university professor. Tenured professors are ensured more extensive due process in termination proceedings, providing some measure of protection for professors teaching or researching unpopular or politically incorrect subject matter. Tenure is often granted based on classroom performance, length of employment, continuing education and research activity. Some 2-year colleges offer tenure to instructors who only have a master's degree, but 4-year colleges usually require tenure candidates to have doctorate degrees.</p>
                 
                 <!-- <h6 style="margin-top: 30px;">2004-2018</h6>
                 <h6 style="font-size: 20px;font-weight: bold;">Project Manager</h6>
                 <h6>Google</h6>
                 <p style="font-size: 15px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum beatae laboriosam reiciendis impedit dolorem placeat, ducimus hic ea repellat itaque atque nemo et quisquam libero. Praesentium commodi dolores vel a?</p> -->
              </div>
              </div>
              </div>


{% else %}
<div class="container-fliud bg p-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-white">Students Profile</h2>
           <ol class="breadcrumb breadcrumb-double-angle list-inline 
           text-white bg-transparent p-0" style="float: left;">
            <li class="list-inline-item">Home >></li>
            <li class="list-inline-item">Page >></li>
            <li class="list-inline-item"> Students Profile</li>
            </ol>
    </div>
</div>
</div>
<div class="container shadow shadow-lg">
<div class="row">
<div class="col-md-4 my-5">
<div class="card-header" style="color:black;background: white;">
    <!-- <img src="{% static 'image/johndoe.jpg'%} " class="card-img" alt="" style="border-radius:50%;"> -->
    <div class="text-center">
    {% if data.profile_pic %}
    <img src="/media/{{data.profile_pic}}" style="height: 200px; width: 250px; border-radius: 50%;">
    {% else %}
    <img src="{% static 'image/user.png' %}" style="height: 200px; width: 250px;">
    {% endif %}
    </div>

<h3 class="card-title text-center">{{user.first_name}} {{user.last_name}}</h3>
<p class="card-text text-center" >{{data.occupation}}</p>
<ul class="list-inline"style= "margin-top: 40px; margin-left:40px;">
<li class="list-inline-item"><i style="color: green;margin-left: 60px;" class="fas fa-shopping-cart"></i>
<h4>Course Order</h4>
<p style="margin-left: 60px;">35</p></li>
<li class="list-inline-item"><i style="color: green;margin-left: 35px;" class="far fa-heart"></i>
<h4>Wishlist</h4>
<p style="margin-left: 35px;">27</p></li>
</ul>
</div>
<div class="card-body" style="background:white">
    <p>Email Address:</p>
    <h4>{{user.email}}</h4>
    <p>Phone:</p>
    <h4>{{data.contact_number}}</h4>
    <p>Location:</p>
    <h4>{{data.city}}</h4>
</div>
<div class="card-footer" style="background: white;">
<p style="font-size: 20px;">Social Profile</p>
<div style="font-size: 50px;word-spacing: 20px;">
<i  style="background: blue; color: white; border-radius: 50%; padding: 15px;" class="fab fa-facebook"></i>
<i style="background: skyblue;color: white; border-radius: 50%; padding: 15px;" class="fab fa-twitter-square"></i>
<i style="background: red;color: white; border-radius: 50%; padding: 15px;" class="fab fa-google-plus"></i>
<i style="background: turquoise;color: white; border-radius: 50%; padding: 15px;" class="fab fa-instagram"></i>
</div>
</div>
</div>
<div class="col-md-8 mt-5 mb-5 p-3">
<div class="card shadow shadow-lg">
        <div class="card-header bg-white">
            <ul class="nav tab-line border-bottem" role="tablist">
                <li class="nav-item">
<a class="nav-link active text-success" data-toggle="tab" href="purchase Courses" role="tab" aria-selected="true"> <b> purchase Courses</b></a></li>
<li class="nav-item" >
<!-- <a class="nav-link active text-success" data-toggle="tab" href="{% url 'wishlist' %}"role="tab" aria-selected="true"> <b><i class="far fa-heart text-success p-1"></i>Wishlist </b></a></li> -->
     </ul>
     </div>
<div class="card-body">
<div class="my-3">
<table class="table table-bordered fade show active">
    <thead>
    <tr>
        <th>Order Id</th>
        <th>price</th>
         <th>Data</th>
         <th>Action</th>
    </tr>
    </thead>
    <tbody>
        <tr>
    <th class="text-dark font-weight-semiBold">#00004673</th>
    <td>01 Aug 2020</td>
    <td>$49</th>
    <td class="text-success"> <b> View</b></td>
    </tr>
    <tr>
        <th>#05604673</th>
        <td>07 Aug 2020</td>
        <td>$300</td>
        <td class="text-success"> <b> View</b></td>
        </tr>
        <tr>
            <th>#0704673</th>
            <td>16 Aug 2020</td>
            <td>$34</td>
            <th class="text-success"> <b> View</b></td>
            </tr>
            <tr>
                <th class="text-dark">#06454673</th>
                <td> 24 Aug 2020</td>
                <td>$10</td>
                <th class="text-success"> <b> View</b></td>
                </tr>
                <tr>
                    <th class="text-dark">#0000435</th>
                    <td>28 Aug 2020</td>
                    <td>$199</td>
                    <td class="text-success"> <b> View</b></td>
                    </tr>
    </tbody>
</table>         
</div>            
</div>       
</div>              
</div>
</div>
</div>

{% endif %}
{% endblock %}