{%extends "base.html"%}
{%load static%}
{%block style%}
 <style>
    label{
        color: white;
    }
    .pic{
        background: url(static/image/ftr.jpg);
    }
    .iz{
        color: blanchedalmond;
    }
    .ik{
        color: white;
    }
</style> 
{%endblock%}
{%block header%}
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'image/plgn.jpg' %}" alt="" height="100%" width="100%">
        </div>
        <div class="col-md-6">
          <div class="modal-content pic">
              <div class="modal-header text-center">
                  <h1 class="text-white">Login Here</h1>
                  <span class="close" data-dismiss="modal">&times;</span>
              </div>
              <div class="modal-body">
                  <button class="btn btn-primary "><i style="color: white;" class="fab fa-facebook-square"></i>FACEBOOK SignIn</button>
                  <button class="btn btn-danger"><i style="color: white;" class="fab fa-google-plus-square"></i>GOOGLE SignIn</button>
                  <p class="text-center mt-4" style="color:white;">OR</p>
                  <form class="mb-5" action="" method="post">
                       {% csrf_token %}
                      <div class="form-group">
                          <label>Username</label>
                          <div class="input-group">
                              <!-- <div class="input-group-append">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div> -->
                          <input type="text" placeholder="Enter Your Name" name="username" class="form-control" style="height: 50px;">
                            <div class="input-group-append">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div> 
                        </div>
                  </div>
                      <div class="form-group">
                          <label>Password</label>
                          <div class="input-group">
                          
                          <input type="password" placeholder="Enter Password" name="password"
                          class="form-control" style="height: 50px;">
                          <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fas fa-key"></i>
                            </span>
                        </div>
                          </div>
                      </div>
                      <div class="form-group">
                      <input type="checkbox" class="iz" name="rememberme">
                    <label class="ik">Remember Me</label>
                    <a href="{% url 'forget_password' %}" style="color:green;margin-left:70px;">Forgot Password?</a>
                      </div>
                      <div class="form-group">
                          <input type="submit" value="Sign In"
                          class="btn btn-success btn-block rounded-pill">
                      </div>
                  </form>
              </div>
              <div class="modal-footer text-primary">
                  <em>You Accepted our Terms and Conditions and Private Policy</em>
              </div>
          </div>
        </div>
    </div>
</div>  
{% if status %}
  <script>
      alert("{{status}}");
      window.location="/"
  </script>
{% endif %}
{%endblock%}