{% extends "base2.html" %}
{% load static %}
{% block style %}
<style>
    .bg{
        background: url("{% static 'image/handpen.jpg' %}"); background-size: cover;padding: 50px 0px;
    }
    .jass:hover{
       box-shadow: 0px 0px 10px black; padding: 10px;
    }
</style>

{% endblock %}
{% block profile %}
<div class="container bg">
    <div class="row">
        <div class="col-md-12 p-3 text-center text-light">
            <h1>MY STUDENTS ({{instructors|length}})</h1>
            <h3>TOTAL ORDERS : {{times}}</h3>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        {% for i in instructors %}
        <div class="col-md-4 p-2">
            <div class="card my-3 jass">
                <div class="card-header">
                    {% if i.profile_pic %}
                    <img src="/media/{{i.profile_pic}}" style="height: 200px; width: 100%; ">
                    {% else %}
                    <img src="{% static 'image/user.png' %}" style="height: 200px; width: 100%;">
                    {% endif %}
                </div>
                <div class="card-body">
                    <h4>{{i.first_name}} {{i.last_name}} <small class="badge badge-warning">{{i.count}}</small></h4>
                    <p><i class="fa fa-user text-dark"></i> USERNAME : {{i.username}} </p>
                    <p><em> EMAIL :  {{i.email}}</em></p>
                    <p><ins> PHONE NUMBER : {{i.contact}}</ins></p>
                </div>
                <div class="card-footer">
                    <strong style="float: right;">Member Since : {{i.join}}</strong>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}