{% extends "base2.html" %}
{% load static %}
{% block style %}
<style>
    .bg{
        background: url("{% static 'image/handpen.jpg' %}"); background-size: cover;padding: 50px 0px;
    }
    </style>
{% endblock %}
{% block profile %}
<div class="container bg">
    <div class="row">
        <div class="col-md-6 mt-5 mx-auto">
            <h2 class="text-white">Dashboard &gt; My Course ({{course|length}})</h2>
        </div>
    </div>
</div>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                     <tr>
                     <!-- <th>Course Id</th> -->
                     <th>Course Image</th>
                     <th>Course Name</th>
                     <!-- <th>Instructor Name</th> -->
                     <th>Course Actions </th>
                     </tr>
                 </thead>
             
            <tbody>
{% for c in course %}
<tr>
    <!-- <td>{{c.id}}</td> -->
    <td><img src="/media/{{c.course_image}}" style="height: 70px; width: 100px;"></td>
    <td>{{c.course_name}}</td>
    <!-- <td>{{c.instructor.first_name}} {{c.instructor.last_name}}</td> -->
    <td>
        <button class="btn btn-success" data-toggle="modal" data-target = "#m{{c.id}}"><i class="fa fa-eye text-white"></i></button>
        <a href="{% url 'update_course' %}?cid={{c.id}}" class="btn btn-primary"><i class="fa fa-edit text-white"></i></a>
        <a href="{% url 'delete_course' %}?cid={{c.id}}" class="btn btn-danger"><i class="fa fa-trash text-white"></i></a>

       
    </td>
</tr>
<div class="modal fade" id="m{{c.id}}">
    <div class="modal-dialog">
        <div class="modal-content">

        <div class="modal-header">
<h4>Course Detail</h4>
<button class="close" data-dismiss ="modal">&times;</button>
        </div>
        <div class="modal-body">
<img src="/media/{{c.course_image}}" alt="" height="200" width="100%">
<h2>
<a href="{% url 'single' %}?cid={{c.id}}">{{c.course_name}}</a>
</h2>
<p>{{c.course_category.cat_name}}</p>
<p style="font-size: 20px;">
   <del>&#8377; {{c.course_price}}</del>
   <strong>&#8377; {{c.sale_price}}</strong>
</p>
<p>{{c.details}}</p>
        </div>
        <div class="modal-footer">
 <a href="{% url 'single' %}?cid={{c.id}}" class="btn btn-warning">View Details</a>
        </div>
    </div>

</div>
</div>
{% endfor %}
            </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}