{% extends "base2.html" %}
{% load static %}
{% block style %}
<style>
    .bg{
        background: url("{% static 'image/handpen.jpg' %}"); background-size: cover;padding: 50px 0px;
    }
    </style>

{% endblock %}
{% block profile %}
<div class="container bg">
    <div class="row">
        <div class="col-md-12 py-5 text-center text-light">
            <h1>Dashboard &gt; Order History</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mx-auto">
            {% for i in order_history %}
                <div class="card my-3">
                    <div class="card-header">
                        <strong class="float-left">ORDER ID: {{i.order_id}}</strong>
                        <em class="float-right">PROCESSED ON: {{i.date}}</em>
                    </div>
                    <div class="card-body">
                        
                        {% for j in i.courses  %}
                        
                              
                                  <div class="text-center my-2">
                                      <img src="/media/{{j.course_image}}" alt="No Image" style="height: 200px; width: 100%;">
                                  </div>
                                  <div class="text-center my-2">
                                      <h4> COURSE NAME : {{j.course_name}}</h4>
                                    </div>
                                  <div class="text-center my-2">
                                      <h6> COURSE PRICE : $ {{j.sale_price}}</h6>
                                    </div>
                                  <div class="text-center px-5">
                                    <a href="{% url 'single' %}?cid={{j.id}}" target="_blank" class="btn btn-primary btn-block"><i class="fa fa-eye"></i>View</a>
                                </div>
                            

                        {% endfor %}
                        
                    </div>
                    <div class="card-footer">
                        <table class="table">
                              <tr>
                                  <th>INVOICE ID</th>
                                  <td>{{i.invoice}}</td>
                                  <th>STATUS</th>
                                  <td>
                                      {% if i.status %}
                                        <button class="btn btn-success btn-block"><i class="fa fa-check"></i>Success</button>
                                      {% else %}
                                         <button class="btn btn-danger btn-block"> &times; Pending</button>
                                      {% endif %}
                                  </td>
                              </tr>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}