{% extends "base.html" %}
{% load static %}
{% block header %}
<div class="container-fluid">
     <div class="row">
         <div class="col-md-6 mx-auto text-center my-5 p-5 shadow shadow-lg">
             <img src="{% static 'image/faileded.gif' %}" alt="" height="300" width="300">
             <br>
             <h1 class="alert alert-danger my-5">PAYMENT FAILED</h1>
             <div class="my-3">
                <a href="{% url 'cart' %}" class="btn btn-primary">Continue Shopping</a>
                <a href="{% url 'view_profile' %}" class="btn btn-success">Go To Dashboard</a>
             </div>
         </div>
     </div>
</div>
{% endblock %}