{% extends "base.html" %}
{% block header %}
<div class="container-fluid">
     <div class="row">
         <div class="col-md-6 mx-auto text-center my-5 p-5 shadow shadow-lg">
             <h1 class="text-warning ">Click Here to Continue</h1>
             {{form.render}}
         </div>
     </div>
</div>
{% endblock %}