{% extends "base.html" %}
{% load static %}
{% block style %}
<style>
    .h{
        text-align: center;
    }
    .b1{
        
        margin-top: 10px;
        
    }
    .p1{
        text-align: center;
        margin-top: 20px;

    }
    .a{
        display: inline-block;
        
    }
    

    input[type="text"]:focus{
outline: none;
box-shadow: 0px 0px 5px green;
border:1px solid greenyellow;
}
input[type="password"]:focus{
outline: none;
box-shadow: 0px 0px 5px green;
border:1px solid greenyellow;
}

</style>
 
{% endblock %}
{% block header %}
<div class="container bg-light">
    <div class="row ">
        <div class="col-md-6">
        <img src="{% static 'image/regis.jpg' %}" alt="" height="100%" width="100%">    
        </div>
        <div class="col-md-6 bg-light">
            <div class="form-group">
                <h2 class="h">Sign Up Here And Start Learning!</h2>
                <hr>
                <button class="btn btn-primary b1 "><i class="fab fa-facebook-f mr-1"
                    style="background: blue;padding: 8px;color: white;border-radius: 50%;"></i>Sign In With Facebook</button>
                <button class="btn btn-danger b1 " style="float: right;"><i class="fab fa-google-plus mr-1"
                    style="background: red; padding: 8px;color: white;border-radius: 50%;"></i>Sign In With Google</button>
                <p class="p1">OR</p>
            </div>
           <div class="modal-body">
               <form onsubmit="return checkPassword(this)" action="" method="post">
                {% csrf_token %}
                   <div class="form-group a ">
                    <label for="">First Name</label>
                   <div class="input-group">
                      
                       <input type="text" class="form-control" placeholder="Enter Your First Name" name="first">

                   </div>
                </div>
                <div class="form-group a "style="float:right">
                    <label for="">Last Name</label>
                   <div class="input-group">
                      
                       <input type="text" class="form-control" placeholder="Enter Your Last Name" name="last">

                   </div>
                </div>
                <div class="form-group">
                    <p id="result"></p>
                </div>
                <div class="form-group ">
                    <label for="">Username</label>
                   <div class="input-group">
                      
                       <input type="text" class="form-control" placeholder="Enter Username" name="uname" id="username" onkeyup="checkuser()">

                   </div>
                   
                </div>
                <div class="form-group">
                    <label for="">E-mail</label>
                   <div class="input-group">
                      
                       <input type="text" class="form-control" placeholder="Enter Your E-mail Here" name="email">

                   </div>
                </div>
                <div class="form-group">
                    <label for="">Contact Number</label>
                   <div class="input-group">
                      
                       <input type="number" class="form-control" placeholder="Enter Your Mobile No." name="contact">

                   </div>
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    
                      <div class="input-group">
                       <input type="password" name=password1 class="form-control"  placeholder="Enter Your Password" id="ram">
                       <div class="input-group-append"><button type="button" onclick="abcd()"><i class="fas fa-eye"></i></button>

                   </div>
                </div>
                </div>
            
                <div class="form-group">
                    <label for="">Confirm Password</label>
                   
                    <div class="input-group">
                        <input type="password" name=password2 placeholder="Re-Enter Your Password Here" class="form-control" id="ram"> <div class="input-group-append"><button type="button" onclick="abcd()"><i class="fas fa-eye"></i></button></div>
                    </div> 
                       
                </div>
                <div class="form-group mt-3 a">
                    <label for="">GENDER</label></br>
                    <input type="radio" name="gender"> Male
                    <input type="radio" name="gender"> Female
                    
                </div>
                <div class="form-group mt-3 a" style="float: right;">
                    <label>User Type</label>
                    <select name="utype" class="form-control">
                        <option value="stu">I am Student</option>
                        <option value="inst">I am Instructor</option>
                    </select>
                </div>
                <div>
                <button class="btn btn-success btn-block rounded-pill" id="submitbtn">Create Account</button>
                </div>
               </form>

           </div>

        </div>

    </div>

</div>
<script>
    function abcd(){
        v=document.getElementById("ram").type
        if(v=="password"){
        document.getElementById("ram").type="text"
        }
        else{
            document.getElementById("ram").type="password"
        }
    }
    


     function checkPassword(form) { 
            password1 = form.password1.value; 
            password2 = form.password2.value; 

             
            if (password1 == '') 
                alert ("Please enter Password"); 
                  
            
            else if (password2 == '') 
                alert ("Please enter confirm password"); 
                  
       
            else if (password1 != password2) { 
                alert ("\nPassword did not match: Please try again...") 
                return false; 
            } 

            
            else{ 
                alert("Password Match: Welcome to Our Site!") 
                return true; 
            } 
        }
</script> 
    <script>
     function checkuser(){
         let un = document.getElementById("username").value;
         $.ajax({
             url:"{% url 'check_user' %}",
             type:"get",
             data:{usern:un},
             success:function(data){
                 if(data=="Exists"){
                     $("#result").html("This username alredy taken").addClass("text-danger");
                     $("#username").addClass("alert alert-danger")
                     $("#submitbtn").attr("disabled","disabled")
                 }else{
                     $("#result").html("");
                     $("#username").removeClass("alert alert-primary")
                     $("#submitbtn").removeAttr("disabled")

                 }
             }
             
         })

    }
</script>
{% endblock %}