{% extends "base2.html" %}
{% load static %}
{% block style %}
<style>
    .main{
          font-style: italic;text-align: center;font-weight: bold;font-size:xx-large;
    }
/* body{
    background: linear-gradient(green 30%,gray 50%);
} */
label{
    width: 90%;height:25px;padding:5px ;margin-left: 0px;
}
.i{
    width: 90%;height:25px;padding:20px ;margin-left: 0px;  
}
h2{
    color: black;text-align: center;margin-top: 0%;
}
.f{
    width: 450px;margin: auto;background: white;padding: 50px;margin-top: 2%;height: 500px;font-family: arial;
    font-size: 13px; font-weight: bold;
}
::placeholder{
    color: black;opacity: 0.5;
}
.bg{
        background: url("{% static 'image/handpen.jpg' %}"); background-size: cover;padding: 50px 0px;
    }

 </style>

{% endblock %}
{% block profile %}
<div class="contaniner bg">
    <div class="row">
        <div class="col-md-12 py-5 text-center text-light">
            <h1>CHANGE PASSWORD</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-10 mt-5">
<div class="main"><h1 style="color:black;">Security Settings</h1></div>
    <form action="" method="post" class="f shadow shadow-lg bg-light">
 {% csrf_token %}
        <h2>Get Your Password</h2><hr>
        {% if msz %}
           <div class="alert {{col}}">{{msz}}</div>
        {% endif %}
        <div class="form-group">
            <label>Old Password</label>
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fas fa-eye" style="font-size: 15px;"></i>
                    </span>
                </div>
            
            <input type="password" placeholder="Old Password" name="oldpass" required
            class="form-control i ">
            </div>
        </div>
        <div class="form-group">
            <label> New Password</label>
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fas fa-eye" style="font-size: 15px;"></i>
                    </span>
                </div>
            
            <input type="password" placeholder="New Password" name="newpass" id="pass" onkeyup="check_pass()" required
            class="form-control i ">
            </div>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fas fa-key" style="font-size: 15px;"></i>
                    </span>
                </div>
            
            <input type="password" placeholder="confirm Password" name="confirmpass" id="cpass" onkeyup="check_pass()" required
            class="form-control i ">
            </div>
        </div>
   <button class="btn btn-success" id="sbbtn">Reset Password</button>
    </form>
    </div>
    </div>
    </div>
    <script>
        function check_pass(){
            let p = $("#pass").val();
            let cp = $("#cpass").val();
            
            if(p==cp){
                $("#pass").css("border","1px solid green");
                $("#cpass").css("border","1px solid green");
                $("#sbbtn").removeAttr("disabled");
            }else{
                $("#pass").css("border","1px solid red");
                $("#cpass").css("border","1px solid red");
                $("#sbbtn").attr("disabled","disalbled");
                
            }
        }
    </script>
{% endblock %}