{% extends "base2.html" %}
{% load static %}
{% block style %}
<style>
    .bg{
        background: url("{% static 'image/handpen.jpg' %}"); background-size: cover;padding: 50px 0px;
    }
    </style>

{% endblock %}
{% block profile %}
<div class="containter bg">
    <div class="row">
        <div class="col-md-12 py-5 text-center text-white ">
            <h1>Dashboard &gt; Send Email</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto p-3 bg-light my-3 shadow shadow-lg">
            {% if message %}
               <div class="alert {{cls}}">{{message}}</div>
            {% endif %}
            <form action="" method="post" >
            {% csrf_token %}
                <div class="form-group">
                    <label for="">To</label>
                    <input type="text" class="form-control" placeholder="To" name="to" id="" required>

                </div>
                
                <div class="form-group">
                    <label for="">Subject</label>
                    <input type="text" class="form-control" placeholder="Subject" name="sub" id="" required>

                </div>
                <div class="form-group">
                    <label for="">Message</label>
                    <textarea rows="5" class="form-control" placeholder="Enter your message" name="msz" id="" required></textarea>

                </div>
                <div class="form-group">
                    <input type="Submit" value="Send Email" class="btn btn-outline-danger rounded-pill" name="" id="">

                </div>
            </form>

        </div>
    </div>

</div>


{% endblock %}