{% extends "base2.html" %}
{% load static %}
{% block style %}
    <style>
        form .row{
            margin-top: 2%;
        }
        .bg{
        background: url("{% static 'image/handpen.jpg' %}"); background-size: cover;padding: 50px 0px;
    }
    </style>
{% endblock %}
{% block profile %}
<div class="contaniner">
    <div class="row">
        <div class="col-md-12  py-5 text-center text-light">
            <h1>EDIT PROFILE</h1>
        </div>
    </div>
</div>
    <div class="container">
        <div class="row shadow shadow-lg">
            <div class="col-md-8 mx-auto m-2">
               <div class="card bg-light">
                   <div class="card-header">
                    <h1>dashboard &gt; Edit Course</h1>
                   </div>
                   <div class="card-body">
                       <form  method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                           <div class="row">
                            <div class="col-md-12 ">
                                <div class="text-center">
                                    <img src="/media/{{course.course_image}}" alt="" height="200px" width="50%">
                                </div>
                            <label class="mt-3">Update Image: </label>  
                            <input type="file" class="form-control" name="cimg"> 
                            </div>
                               <div class="col-md-6 mt-3">
                                   <label for="">Course Name</label>
                               </div>
                               <div class="col-md-6 mt-3">
                                <input type="text" class="form-control" name="cname"value="{{course.course_name}}">
                            </div>
                           </div>

                           <div class="row">
                            <div class="col-md-6">
                                <label for="">Course Category</label>
                            </div>
                            <div class="col-md-6">
                             <select name="ccat" id="" class="form-control">
                                {% for i in category %}
                                  {% if i.id == course.course_category.id %}
                                  <option value="{{i.id}}" selected>{{i.cat_name}}</option>
                                  {% else %}
                                   <option value="{{i.id}}">{{i.cat_name}}</option>
                                   {% endif %}
                                {% endfor %}
                             </select>
                         </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="">Course Price</label>
                            </div>
                            <div class="col-md-6">
                             <input type="number" class="form-control" name="cp" class="form-control" value="{{course.course_price}}">
                         </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="">Sale Price</label>
                            </div>
                            <div class="col-md-6">
                             <input type="number" class="form-control" name="sp" class="form-control" value="{{course.sale_price}}">
                         </div>
                        </div>

                        
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">Details</label>
                            </div>
                            <div class="col-md-6">
                            <textarea name="des" rows="5" class="form-control">{{course.details}}</textarea>
                            </div>
                        </div>

                        <div class="row">
                           <div class="col-md-6"></div>
                           <div class="col-md-6">
                               <input type="submit" class="btn btn-warning mt-2" value="SAVE CHANGES">
                           </div>
                        </div>
                       </form>
                   </div>
               </div>
            </div>
        </div>
    </div>
{% if status %}
   <script>
        alert("{{status}}");
        window.location = "update_course?cid={{id}}";
   </script>
{% endif %}
{% endblock %}