{% extends "base2.html" %}
{% load static %}
{% block style %}
<style>
    .bg{
        background: url("{% static 'image/handpen.jpg' %}"); background-size: cover;padding: 50px 0px;
    }
    </style>

{% endblock %}
{% block profile %}
<div class="container bg">
    <div class="row">
        <div class="col-md-12 py-5 text-center text-light">
             <h1>View profile</h1>
        </div>
    </div>
</div>
 <div class="container">
     <div class="row">
         <div class="col-md-8 mx-auto py-2 mt-5">
             <div class="card">
                 <div class="card-header">
                     <h1>My Details</h1>
                 </div>
                 <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>User ID</th>
                                <td>{{user.id}}</td>
                            </tr>
                            <tr>
                                <th>Username</th>
                                <td>{{user.username}}</td>
                            </tr>
                            <tr>
                                <th>Full Name</th>
                                <td>{{user.first_name}} {{user.last_name}}</td>
                            </tr>
                            <tr>
                                <th>Last Login</th>
                                <td>{{user.last_login}}</td>
                            </tr>
                            <tr>
                                <th>Join Date</th>
                                <td>{{user.date_joined}}</td>
                            </tr>
                        </tbody>
                    </table>
                 </div>
             </div>
         </div>
     </div>
 </div>


 {% endblock %}