{% extends "base2.html" %}
{% load static %}
{% block style %}
    <style>
         body{
         color:#8f8f93;
     }
       .bg{
            background: url("{% static 'image/handpen.jpg' %}"); 
            background-repeat: no-repeat; background-size: cover; height:200px;
            color:white;
        } 
        h2{
            padding-left: 60px; 
        }
        .ah{
          color:white;padding-left:60px;
        }
        .ah:hover{
            text-decoration: none; color:limegreen;
        }
        .fb{
             background-color: transparent;
             border-color: #3a559d; border:1px solid #3a559d;
             color: #3a559d; border-radius: 50%; font-size: 20px; padding: 10px;
      }
      .fb:hover{
          background-color: #3a559d; color:white;
      } 
      .tw{
             background-color: transparent; border-color: #56aced;color: #56aced;
             border:1px solid #56aced; border-radius: 50%; font-size: 20px; padding: 10px;
        }      
       .tw:hover{
          background-color: #56aced; color:white;
      } 
      .gl{
        background-color: transparent; border-color: #fe4031;color: #fe4031; border-radius: 50%;
        font-size: 20px; padding: 10px;border:1px solid #fe4031;
        }
        .gl:hover{
          background-color: #fe4031; color:white;}
        .inn{
        background-color: transparent; border-color: #067bb5;;color: #067bb5;; border-radius: 50%;
        font-size: 20px; padding: 10px;border:1px solid #067bb5;;
        }
        .inn:hover{
          background-color: #067bb5;; color:white;}

        .bg1{
            background: rgba(0,0,0,0.1);
        }
    </style>
{% endblock %}
{% block profile %}
       <div class="container-fluid">
           <div class="row bg">
            <div class="col-md-12">
                <h2 class="mt-5">Student's Profile</h2>
                    <a href="" class="ah">home &gt;&gt; </a>
                    <a href="" class="ah">page &gt;&gt;</a>
                    <a href="" class="ah">student's profile</a>
            </div>
           </div>
       </div>
             <div class="container-fluid  my-4">
                <div class="row">
                    <div class="col-md-4 shadow" style="margin-top: 70px;">
                        <div class="card-header" style="background-color: white;">
                        <!-- <img src="{% static 'image/7.jpg' %}"  class="m-4 " style="border-radius: 50%;"> -->
                        {% if data.profile_pic %}
        <img src="/media/{{data.profile_pic}}" style="height: 200px; width: 250px; border-radius: 50%;">
        {% else %}
        <img src="{% static 'image/user.png' %}" style="height: 200px; width: 250px;">
        {% endif %}
                        <h4 class="text-center text-dark">{{user.first_name}} {{user.last_name}}</h4>
                        <p class="text-center">{{data.occupation}}</p>
                    <ul class="list-inline" style="margin-left: 80px;word-spacing: 40px";>
                        <li class="list-inline-item"><i class="fas fa-shopping-cart text-success" style="margin-left: 25px;"></i>
                        <p>CoursesOrder</p>  
                        <h4 style="margin-left: 20px;">35</h4></li>
                      <li class="list-inline-item"> <i class="far fa-heart text-success" style="margin-left: 25px";></i>
                        <p style="margin-left: 10px;">Wishlist</p> 
                        <h4 style="margin-left: 20px;">27</h4> 
                        </li> </ul>
                         </div>
                  <div class="card-body my-5" style="background-color: white";>
                    <p >Email address:</p> 
                    <h4 class="text-dark">{{user.email}}</h4> 
                    <p >Phone:</p> 
                    <h4 class="text-dark">{{data.contact_number}}</h4>
                    <p>Location:</p> 
                    <h4 class="text-dark">{{data.city}}</h4> 
                  </div>     
                  <div class="card-footer" style="background: white;">
                    <p style="font-size: 20px;">Social Profile</p>
                    <div style="font-size: 50px;word-spacing: 20px;">
                    <i  style="background: blue; color: white; border-radius: 50%; padding: 15px;" class="fab fa-facebook"></i>
                    <i style="background: skyblue;color: white; border-radius: 50%; padding: 15px;" class="fab fa-twitter-square"></i>
                    <i style="background: red;color: white; border-radius: 50%; padding: 15px;" class="fab fa-google-plus"></i>
                    <i style="background: turquoise;color: white; border-radius: 50%; padding: 15px;" class="fab fa-instagram"></i>
                  </div>
                  </div>
                </div>
               
                      <div class="col-md-4 my-5">
                        <div class="card-header shadow mt-4">
                            <img src="{% static 'image/c7.1.jpg' %}" class="card-img" alt="" style="height: 300px;">
                        </div>
                        <div class="card-body shadow" style="background: white;">
        <h3 class="card-title text-dark">Evelopment Bootcamp</h3>
        <p class="card-text" ><i class="far fa-user"></i> Andrew Mead</p>
        <p> <i class="fas fa-star text-warning" ></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i> 5 (4578)</p>
                         </div>
                        <div class="card-footer shadow" style="background:white">
                            <h2 style="color:green; float:right;">$180</h2>
                            <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
                            <p> <i class="far fa-clock"></i> 27.5 hours</p>
                            
                        </div>
                        <div class="card-header shadow mt-4">
                            <img src="{% static 'image/s3.jpg' %}" class="card-img" alt="" style="height: 300px;">
                        </div>
                        <div class="card-body shadow" style="background: white;">
        <h3 class="card-title text-dark">Real-World Programming</h3>
        <p class="card-text"> <i class="far fa-user"></i> Adam Kury</p>
        <p> <i class="fas fa-star text-warning" ></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-muted"></i><i class="fas fa-star text-muted"></i> 3.4 (7)</p>
                        </div>
                        <div class="card-footer shadow" style="background: white;">
                            <h2 style="color:green; float:right;">$249</h2>
                            <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
                            <p> <i class="far fa-clock"></i> 27.5 hours</p>
                            
                        </div>
                      </div>
                      <div class="col-md-4 my-5">
                            <div class="card-header shadow mt-4">
                                <img src="{% static 'image/s2.jpg' %}" class="card-img" alt="" style="height: 300px;">
                            </div>
                            <div class="card-body shadow" style="background: white; height: 200px;">
            <h3 class="card-title text-dark">C++ Essential Training</h3>
            <p class="card-text" ><i class="far fa-user"></i> Andrew Mead,John Deo</p>
            <p> <i class="fas fa-star text-warning" ></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star-half text-muted"></i> 4.9 (4578)</p>
               
                            </div>
                            <div class="card-footer shadow" style="background: white;">
                                <h2 style="color:green; float:right;">$10</h2>
                                <p><i class="fas fa-headphones-alt"></i> 46 lectures</p>
                                <p><i class="far fa-clock"></i> 27.5 hours</p>
                                
                            </div>
                            <div class="card-header shadow mt-4">
                                <img src="{% static 'image/s4.jpg' %}" class="card-img" alt="" style="height: 300px;">
                            </div>
                            <div class="card-body shadow" style="background: white; height: 200px;">
                <h3 class="card-title text-dark">Java 8 Essential Training</h3>
                <p class="card-text"> <i class="far fa-user"></i> Asif vai</p>
                <p> <i class="fas fa-star text-warning" ></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i> 5 (4578)</p>
                            </div>
                            <div class="card-footer shadow" style="background: white;">
                                <h2 style="color:green; float:right;">FREE</h2>
                                <p> <i class="fas fa-headphones-alt"></i> 46 lectures</p>
                                <p> <i class="far fa-clock"></i> 27.5 hours</p>
                    </div>
                            </div>
                          </div> 
                              <div class="col-md-12 text-center">
                                  <button class="btn btn-outline-success">Load More</button>
                            </div>
                      </div>
{% endblock %}

